/*----------------------------------------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");

*{
    margin: 0;
    padding: 0;
	font-family: sans-serif;
}

body{
	background-color: white;
	font-family: monserrat,sans-serif;
	position: relative;
	min-height: 100%;
}

header{
    width: 100%;
    background: linear-gradient(90deg, rgba(247,211,175,1) 32%, rgba(255,253,250,0.8550770650056898) 93%);
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    align-items: center;
}

.nav-bar{
	display: flex;
	justify-content: space-between;
	align-items: center;

}

.nav-bar img{
	padding: 10px;
	width: 10%;
	border-radius: 100%;
	margin-left: -10%;
}

.nav-bar .logo1 a{
	width: 0%;
}

.nav-bar .list ul{
    padding: 20px;
    display:flex;
    flex-direction: row;
    list-style: none;
}

.nav-bar .list ul li{
    padding: 0px 30px;
    text-decoration: none;
}

.nav-bar .list ul li a{
    text-decoration: none;
    color: black;
    padding: 10px;
    border-radius: 10px;
}

.nav-bar .list a:hover{
    background-color:saddlebrown;
    color: white;
}

.dropdown:hover > .drop_content{
	display: block;
	z-index: 10;
}


.dropdown{
	position: relative;
	display: inline-block;
}

.drop_content{
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.drop_content a{
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/*---------------------------------------------------------------------------------------------------------*/

#header2{
   display: flex;
   width: 100%;
}

.banner1{
    margin-top: 25px;
    margin-left: 10%;
    width: 40%;
}
.slideshow1{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.image1{
    width: 100%;
    height: 350px;
    display: flex;
}

.image1 img{
    width: 100%;
    height: 100%;
}


.banner2{
    margin-top: 25px;
    margin-left: 3%;
	width: 40%;
}
.slideshow2{
    width: 100%;
    display: flex;
    overflow: hidden;
}

.image2{
    width: 100%;
    height: 350px;
    display: flex;
}
.image2 img{
    width: 100%;
    height: 100%;
}

#cabang{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    height: 225px;
}

.branch{
    width: 13%;
}
.branch img{
    width: 100%;
    height: 100%;
    margin: 5px;    
}

h2{
    margin-top: 25px;
    text-align: center;
}

.button{
    width: 200px;
    height: 100px;
    padding: 10px;
}

/* ------------------------------------------------------------------------------------------------------------------- */
h1{
    margin-top: 30px;
    margin-bottom: 20px;
    text-align: center;
	width: 100%;
}


.wrap{
    display:grid;
    grid-template-columns: auto auto auto;
}

.rate{
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		width: 100%;
	}

button{
    width: 75px;
    border: 0px;
    background-color:whitesmoke;
    color: blue;
    margin-left: 5px;
    margin-right: 5px;
    padding: 5px;
    border-radius: 7px;
    cursor: pointer;
}

button:hover{
    color:brown;
    background-color:skyblue;
}

.images img{
	margin-top: 50px;
    width: 350px;
    height: 200px
}

.card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	width: 100%;
	text-align: center;
	justify-content: center;
}

.card .text{
	margin-top: 40px;
}

.text p{
    color: red;
	margin-bottom: 130px;
}

#Beverage{
   display: none;
} 


/* ----------------------------------------------------------------------------------------------------------------- */

footer{
    position: relative;
	display: flex;
	flex-direction: row;
    width: 100%;
    bottom: 0;
	margin-top: 20px;
    background: linear-gradient(90deg, rgba(247,211,175,1) 32%, rgba(255,253,250,0.8550770650056898) 93%);
	/* padding: 20px; */
	justify-content: space-evenly;
	/* height: 150px; */
}

footer img{
	padding: 20px;
	width: 100px;
	height: 80px;
}

footer .logo img{
	border-radius: 100%;
	margin-top: 20px;
	/* margin-left: -125px; */
	width: 50%;
	height: 80%;
}


footer .divide{
	margin-top: 20px;
	margin-bottom: 20px;
	border: 0.1px solid black;
	margin-left: -230px;
}

footer .menu{
	margin-top: 25px;
	padding: 20px
}

footer .menu a{
	display: flex;
	flex-direction: column;
	text-decoration: none;
	color: black;
	margin-top: 10px;
}

footer .menu a:hover{
	color: blue;
}

footer .sosmed{
	margin-top: 20px;
	padding: 20px
}

footer .sosmed img{
	display: inline;
	border-radius: 100%;
	margin-left: 20px;
	margin-top: -8px;
}

footer .sosmed h3{
	text-align: center;
}

@media screen and (max-width: 400px) {

	/* ==================================== navbar ====================================== */

	.nav-bar .list ul li{
		/* padding: 0px 30px; */
		text-decoration: none;
		font-size: 28px;
	}

	.nav-bar .list ul{
		padding: 20px;
		display:flex;
		flex-direction: column;
		list-style: none;
		margin-left: -40%;
	}

	.nav-bar{
		display: flex;
		flex-direction: column;
	}

	.nav-bar img{
		padding: 10px;
		width: 20%;
		border-radius: 100%;
		margin-left: 10%;
	}

	.dropdown{
		margin: 0;
	}

	/* ==================================== banner ====================================== */

	#header2{
		display: flex;
		flex-direction: column;
		width: 100%;
	}

	.banner1{
		margin-top: 25px;
		margin-left: 5%;
		width: 80%;
	}

	.slideshow1{
		width: 100%;
		display: flex;
		overflow: hidden;
	}
	
	.image1{
		width: 350px;
		height: 350px;
		display: flex;
	}

	.banner2{
		margin-top: 25px;
		margin-left: 5%;
		width: 80%;
	}
	.slideshow2{
		width: 100%;
		display: flex;
		overflow: hidden;
	}
	
	.image2{
		width: 100%;
		height: 350px;
		display: flex;
	}

/* ============================================= Grid Food ========================================= */



	.wrap{
		display:flex;
		flex-direction:column;
	}

	
.card{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
	width: 100%;
	text-align: center;
	justify-content: center;
	margin-left: -3%;
}

.images img{
    width: 250px;
    height: 200px
}

.card .text{
	margin-top: -5px;
	height: 150px;
}

/* ============================================= body ========================================= */

	#cabang{
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		flex-direction: column;
		margin-top: 50%;
		margin-bottom: 30%;
	}
	
	.branch{
		width: 90%;
		display: flex;
		margin-bottom: -10%; 
		margin-left: 3%;
	}
	.branch img{
		width: 100px;
		height: 100px;
		margin: 5px;    
	}


	/* ==================================== footer ====================================== */

		footer{
			position: relative;
			display: flex;
			flex-direction: column;
			width: 100%;
			bottom: 0;
			margin-top: 20px;
			background: linear-gradient(90deg, rgba(247,211,175,1) 32%, rgba(255,253,250,0.8550770650056898) 93%);
			justify-content: center;
			align-items: center;
		}
		
		
		footer .logo img{
			border-radius: 100%;
			width: 50%;
			height: 80%;
			margin-left: 15%;
		}
		
		
		footer .divide{
			border: 0.1px solid black;
			display: none;
		}
		
		footer .menu{
			margin-top: 25px;
			 width: 100%;
			text-align: center;

		}
		
		footer .menu a{
			display: inline-block;
			text-decoration: none;
			color: black;
		}
		
		footer .menu a:hover{
			color: blue;
		}
		
		footer .sosmed{
			text-align: center;
		}
		
		footer .sosmed img{
			display: inline-block;
			border-radius: 100%;
			width: 15%;
			height: 15%;
			margin-left: -5%;
		}
		
		footer .sosmed h3{
			text-align: center;
		}

	
}